.header {
    /*position: sticky;
    top: 100px;
    /*avant c'etait 100px par rapport au sidebar d'en haut*/
    background-color: #ffffff;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5rem;
    max-width: 100%;
    height: 48px;
    padding-left: 4px !important;
    padding: right 4px !important;
    vertical-align: middle;
}


.header.small {
    font-size: 0.6rem;
    height: 30px;
}


.body_tr {
    font-size: 0.885rem;
    height: 40px;
    padding-left: 4px !important;
    padding: right 4px !important;
    vertical-align: middle;
    cursor: pointer;
    color: #272822
        /*rgba(0, 0, 0, 0.7)*/
    ;
}


.body_tr.small {
    font-size: 0.75rem;
    height: 25px;
}